html {
    background-color: black;
}
h1{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}
#paraid{
    color: azure;
}
h2{
    font-size: 50px;
    margin-left: 40px;
    font-weight: bolder;
}
h3 {
    font-size: 25px;
    margin-left: 80px;
    font-weight: bold;

}
@media (min-width: 600px) {
    .head{
    margin-left: 560px;
    margin-top: 60px;
    padding-bottom: 0%;
    font-size: 30px;
}

@media (max-width: 300px){
    .head{
    margin-left: 10px;
    margin-top: 60px;
    padding-bottom: 0%;
    font-size: 20px;
}
}
}