.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh #search {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .y-chrome-ext-canvas {
  margin-top: 10px;
  width: 250px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .forcast-container {
  margin-bottom: 40px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .template {
  display: none; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .name {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 5px 0; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .weather-icon {
  vertical-align: middle; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .temp {
  font-size: 30px;
  margin: 10px 0; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .popup-icon {
  position: absolute;
  top: 100px;
  right: 10px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .settings {
  margin-top: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .settings__icon {
  width: 20px;
  height: 20px;
  vertical-align: middle; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .settings__link {
  text-decoration: none;
  color: #545454;
  background: #EEE;
  padding: 5px 10px;
  width: 100%;
  display: block; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .settings__area {
  display: none;
  background: #EEE;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh.settings__units {
  padding: 5px;
  border: 1px solid #BEBEBE;
  margin-left: 10px;
  width: 75%; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .forcast-weather-icon {
  vertical-align: middle;
  margin: 10px 0; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .slick-slider {
  width: 250px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .single-date__title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #545454; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh button.slick-prev.slick-arrow {
  position: absolute;
  top: -30px;
  right: 30px;
  z-index: 100;
  font-size: 10px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh button.slick-next.slick-arrow {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 100;
  font-size: 10px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .forcast-temp-max,
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .forcast-temp-min {
  font-size: 11px;
  line-height: 13px;
  color: #999; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .forcast-date {
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  padding-left: 5px; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh a.show-forcast {
  display: block;
  margin: 10px 0 40px 0;
  text-decoration: none; }
.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh .slick-initialized .slick-slide {
  outline: none; }
