.micro-weather-knbgahoibccgfedbeamjlaipedimpfeh {

	#search {
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.y-chrome-ext-canvas {
		margin-top: 10px;
		width: 250px;
	}

	.forcast-container {
		margin-bottom: 40px;
	}

	.template {
		display: none;
	}

	.name {
		font-size: 20px;
		font-weight: bold;
		margin: 15px 0 5px 0;
	}

	.weather-icon {
		vertical-align: middle;
	}

	.temp {
		font-size: 30px;
		margin: 10px 0;
	}

	.popup-icon {
		position: absolute;
		top: 100px;
		right: 10px;
	}

	.settings {
		margin-top: 15px;
		position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    z-index: 9999;
	}

	.settings__icon {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}

	.settings__link {
		text-decoration: none;
		color: #545454;
		background: #EEE;
		padding: 5px 10px;
		width: 100%;
		display: block;
	}

	.settings__area {
		display: none;
		background: #EEE;
		padding: 5px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	&.settings__units {
		padding: 5px;
		border: 1px solid #BEBEBE;
		margin-left: 10px;
		width: 75%;
	}

	.forcast-weather-icon {
		vertical-align: middle;
		margin: 10px 0;
	}

	.slick-slider {
		width: 250px;
	}

	.single-date__title {
		font-size: 14px;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 10px;
		color: #545454;
	}

	button.slick-prev.slick-arrow {
		position: absolute;
	    top: -30px;
	    right: 30px;
	    z-index: 100;
	    font-size: 10px;
	}

	button.slick-next.slick-arrow {
		position: absolute;
		top: -30px;
		right: 0;
		z-index: 100;
		font-size: 10px;
	}

	.forcast-temp-max,
	.forcast-temp-min {
		font-size: 11px;
		line-height: 13px;
    	color: #999;
	}

	.forcast-date {
	    border-bottom: 1px solid #DDD;
	    border-left: 1px solid #DDD;
	    padding-left: 5px;
	}

	a.show-forcast {
	    display: block;
	    margin: 10px 0 40px 0;
	    text-decoration: none;
	}

	.slick-initialized .slick-slide {
		outline: none;
	}

}