.chats{
    position: relative;
    height: 400px;
    width: 250px;
}

.chats__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: orange;
}

.chats__avatar{
    height: 25px !important;
    width: 25px !important;
}

.chats__searchbar{
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 8px;

}

.chats__searchbar > input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 12px;
    flex: 1;
    color: white;
}

.chats__searchbar > input::placeholder{
    color: white;
    opacity: 1;
}