.chats{
    position: relative;
    height: 400px;
    width: 250px;
}

.chats__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: orange;
}

.chats__avatar{
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
}

.chats__searchbar{
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 8px;

}

.chats__searchbar > input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 12px;
    flex: 1;
    color: white;
}

.chats__posts{
    height: 359px;
    background-color: white;
    box-shadow: 1px -7px -7px -6px rgba(0,0,0, 0.44);
    margin-top: -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: scroll;
}


.chats__posts::-webkit-scrollbar{
    display: none;
}

.chats__searchbar > input::placeholder{
    color: white;
    opacity: 1;
}