.login{
    background-image: linear-gradient(to bottom right, #5433FF,#20BDFF,#A5FECB);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;

}
.login__container > h2{
    color: white;
    background-image: linear-gradient(to bottom right,#FF8008, #FFC837);
    border-radius: 10px;
    padding: 10px;
}

.login__container > img{
    height: 200px;
    object-fit: contain;
    padding: 10px;
}

.login__container{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.login__container > Button > .MuiSvgIcon-root{
    color: white !important;
}