.preview{
    position: relative;
}

.preview__close{
    position: absolute;
    top: 0;
    margin: 5px;
    font-size: 22px !important;
    cursor: pointer;
    color: white;
}

.preview__toolbarRight{
    color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.preview__toolbarRight > .MuiSvgIcon-root{
    font-size: 20px !important;
    margin-bottom: 8px;
    cursor: pointer;
}

.preview__footer{
    position: absolute;
    bottom: 0;
    right: -25px;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.preview__sendIcon{
    
}

.preview__footer > h2 {
    font-size: 15px;
    margin-right: 3px;
}